@import url("./assets/fonts/fonts.css");
* {
  box-sizing: border-box;
}

:root {
  --bg: ##e7e7e7;
  --blue: #6264ec;
  --black-border: #353535;
  --red: #eb514f;
}
html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "GilroyReg", sans-serif;
  background-color: var(--bg);
}

/* Title */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GilroyBold";
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

header {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

/* Checkbox */
.todos_wrapper {
  margin-bottom: 3.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
